body {
  background: #3E3E3E;;
  margin: 0;
  width: 100%
}

/* for testing purposes only
.personal, .improve, .recommend, .suggestions, .item-group {
    border: 1px solid hotpink;
}
*/

.personal, .personal2 {
    margin-top: 2em;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-self: center;
}
.personal {
  grid-area: personal;
}
.personal2 {
  grid-area: personal2;
}
.improve {
  grid-area: improve;
}
.recommend {
  grid-area: recommend;
}
.suggestions {
  grid-area: suggestions;
}
.submit {
  grid-area: submit;
}
#survey-form {
  grid-template-rows: auto;
  grid-gap: 1em;
  background-color: #f5f2e2;
  background-image: url(https://www.transparenttextures.com/patterns/wet-snow.png);
}
@media only screen and (max-width : 600px) {

  #survey-form {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-areas:
    ". personal ."
    ". personal2 ."
    ". improve ."
    ". recommend ."
    ". suggestions ."
    "submit submit submit"
  }

}

@media only screen and (min-width: 601px) {

  #survey-form {
    display: grid;
    grid-template-columns:  auto 45% 45% auto ;
    grid-template-areas:
    ". personal personal2 ."
    ". improve improve ."
    ". suggestions recommend ."
    "submit submit submit submit";
  }

}

@media only screen and (min-width: 1000px) {

    #survey-form {
      display: grid;
      grid-template-columns:  auto 35% 35% auto ;
      grid-template-areas:
      ". personal personal2 ."
      ". improve improve ."
      ". suggestions recommend ."
      "submit submit submit submit";
  }
}
@media only screen and (min-width: 1200px) {

    #survey-form {
      display: grid;
      grid-template-columns:  auto 27% 27% auto ;
      grid-template-areas:
      "... personal personal2 ..."
      "... improve improve ..."
      "... suggestions recommend ..."
      "submit submit submit submit";
  }
}


.personal label#name-label, .personal#name, .personal2 {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background: #0B5400;
  color: #FFFFF8;
  padding: 5px 20px;
}

.submit {
  background: #3E3E3E;
  box-shadow       : 2px 2px 8px rgba(63, 58, 48, 0.4);
    margin-top: 3em;
}
.white-text {
  color: #FFFFF8;
}

.improve, .recommend {
  padding: 4px;
}
label {
  white-space: nowrap;
  display: block;
}
label {
  float: left;
  width: 13em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;

}

.item-group {
  margin-bottom: 0.3em;
}
label#name-label, label#email-label, label#number-label{
  width:4em;
  padding-top: 0.3em;
}

input#name, input#email, input#number {
  width: 14em;
  overflow:hidden;
  padding-top: 0.3em;
}

.recommend label {
  width: 3em;
  margin-right: 1.8em;
}

span {
  padding-left: 5px;
}

button {
  text-decoration: none;
  display   : block;
  width     : 50%;
  max-width: 30em;
  margin    : 15px auto;
  padding   : 15px 32px;
  background:  #FD9D1E;
  color     : #FFFFF8;
  font-size : 18px;
}
h1 {
  font-family: 'Titillium Web', sans-serif;
}
h4 {
  font-weight: bold;
}
body,
input[type=text],
input[type=email],
input[type=number],
input[type=checkbox],
textarea {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
}
input[type=text],
input[type=email],
input[type=number],
input[type=checkbox],
textarea {
  padding-left: 4px;
}
select {
  width        : 15em;
  padding      : 10px 4px;
  font-family  : 'Barlow', sans-serif;
  font-size    : 1em;
}

textarea {
  height: auto;
  width: 80%;
  padding: 4px;
  color: #334139;
}
